<toaster-container></toaster-container>

<form>
    <div class="imgcontainer">
        <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar"  alt="Avatar">
    </div>

    <div class="container">
        <label for="uname"><b>User Mail</b></label>
        <input type="text" placeholder="Enter mail" name="uname" [(ngModel)]="loginData.userEmailName"  required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" [(ngModel)]="loginData.password"  required>

        <button (click)="eventLogin(loginData)">Login</button>
    </div>

    <div class="container" style="background-color:#f1f1f1">
        <a routerLink='../register'>
        <button type="button" class="cancelbtn">Register</button>
        </a>
    </div>
    <!--<button (click)="loginOath()">Login</button>-->
    <!--<a href="/auth/google">Sign In with Google</a>-->

</form>