<toaster-container></toaster-container>

<h3 align="center" style="color:blue;">What I did interesting today</h3>
<br>
<br>
<div class="text">
<textarea rows="4" cols="50" [froalaEditor] placeholder="what you did" name="work" [(ngModel)]="userWork" [mention]="username" required></textarea>
<button type="button" class="btn btn-primary" (click)="uploadWorkData(userWork)">post</button>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-8" *ngFor="let details of userComments;let i = index">
            <div class="panel panel-white post panel-shadow">
                <div class="post-heading">
                    <div class="pull-left image">
                        <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
                    </div>
                    <div class="pull-left meta">
                        <div class="title h5">
                            <a href="#"><b>{{details.name}}</b></a>
                            made a post.
                        </div>
                        <h6 class="text-muted time">{{details.datetime| date:'medium'}}</h6>
                    </div>
                </div>
                <div class="post-description">
                    <p [innerHTML]="details.post"></p>
                    <div class="stats">
                        <button class="btn btn-primary stat-item" (click)="likeCountIncrease(details._id,details.likes)">
                            <i class="fa fa-thumbs-up icon"></i>{{details.likes}}
                        </button>
                        <div class="col-lg-8">
                            <div class="panel panel-primary">
                                <div class="panel-heading" id="accordion">
                                    <div class="btn-group pull-right">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#{{'one'+i}}">
                                            <i class="fa fa-comments-o fa-lg"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="panel-collapse collapse" id="{{'one'+i}}">
                        <div class="panel-body" *ngIf="details.comments.length>0">
                            <ul class="chat" *ngFor="let com of details.comments;">
                                <li class="left clearfix"><span class="chat-img pull-left">
                            <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />
                                </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">{{com.By}}</strong> <small class="pull-right text-muted">
                                            <span class="glyphicon glyphicon-time">{{com.CommentDateTime | date:'medium'}}</span></small>
                                        </div>
                                        <p>
                                            {{com.comments}}
                                        </p>
                                    </div>
                                </li>

                            </ul>
                        </div>
                        <div class="panel-footer">
                            <div class="input-group">
                                <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." [(ngModel)]="commentByUser"  [mention]="username"/>
                                <span class="input-group-btn">
                            <button class="btn btn-primary btn-sm" id="btn-chat" (click)="sendingComment(commentByUser,details._id)">
                                Send</button>
                        </span>
                            </div>
                        </div>
                    </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <!--<div class="col-sm-8">-->
            <!--<div class="panel panel-white post panel-shadow">-->
                <!--<div class="post-heading">-->
                    <!--<div class="pull-left image">-->
                        <!--<img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">-->
                    <!--</div>-->
                    <!--<div class="pull-left meta">-->
                        <!--<div class="title h5">-->
                            <!--<a href="#"><b>Ryan Haywood</b></a>-->
                            <!--made a post.-->
                        <!--</div>-->
                        <!--<h6 class="text-muted time">1 minute ago</h6>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="post-description">-->
                    <!--<p>Bootdey is a gallery of free snippets resources templates and utilities for bootstrap css hmtl js framework. Codes for developers and web designers</p>-->
                    <!--<div class="stats">-->
                        <!--<a href="#" class="btn btn-default stat-item">-->
                            <!--<i class="fa fa-thumbs-up icon"></i>2-->
                        <!--</a>-->
                        <!--<a href="#" class="btn btn-default stat-item">-->
                            <!--<i class="fa fa-thumbs-down icon"></i>12-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>
</div>