/* You can add global styles to this file, and also import other style files */


@media only screen and (max-width: 480px) {
 .container{
 max-width:100%
 }
 .fr-box {
     position: relative;
     margin:auto;
     max-width:100%;
 }
}




.pull-right {
    float: right;
    margin-top: -5px;
}

