<toaster-container></toaster-container>

<form action="/action_page.php">
    <div class="container">
        <h1>Register</h1>
        <p>Please fill in this form to create an account.</p>
        <hr>

        <label for="psw-repeat"><b>Name</b></label>
        <input type="password" placeholder="Enter Name" name="psw-repeat" required [(ngModel)]="loginData.name">

        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required [(ngModel)]="loginData.mailId">

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required [(ngModel)]="loginData.password">

        <hr>
        <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>

        <button type="submit" class="registerbtn" (click)="registerUser(loginData)">Register</button>
    </div>

    <div class="container signin">
        <p>Already have an account? <a href="#">Sign in</a>.</p>
    </div>
</form>
